#header {
  text-align: center;
  font-family: Cursive;
}

.imageClass {
  width: 30px;
  height: 30px;
}

.writings {
  font-size: 15px;
  font-family: Cursive;
  margin: 20px;
}

.bodyClass {
  background-color: rgb(181, 43, 216);
}

.items {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;

}

@media screen and (max-width: 400px) {
  .items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;

  }
}
